BODY {
	FONT-SIZE: 10pt; COLOR: #3e9cdc; FONT-FAMILY: arial,helvetica,sans-serif
}
P {
	FONT-SIZE: 10pt; COLOR: #3e9cdc; FONT-FAMILY: arial,helvetica,sans-serif
}
SPAN {
	FONT-SIZE: 10pt; COLOR: #3e9cdc; FONT-FAMILY: arial,helvetica,sans-serif
}
PRE {
	FONT-SIZE: 10pt; COLOR: #3e9cdc
}
BLOCKQUOTE {
	FONT-SIZE: 10pt; COLOR: #3e9cdc; FONT-FAMILY: arial,helvetica,sans-serif
}
CITE {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #ffffff; FONT-STYLE: normal; FONT-FAMILY: arial,helvetica,sans-serif
}
EM {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #ffffff; FONT-STYLE: normal; FONT-FAMILY: arial,helvetica,sans-serif
}
B {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #ffffff; FONT-STYLE: normal; FONT-FAMILY: arial,helvetica,sans-serif
}
B.small {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #ffffff; FONT-STYLE: normal; FONT-FAMILY: arial,helvetica,sans-serif
}
B.normal {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #ada8a4; FONT-STYLE: normal; FONT-FAMILY: arial,helvetica,sans-serif; LETTER-SPACING: 2px
}
B.gray {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #ffffff; FONT-STYLE: normal; FONT-FAMILY: arial,helvetica,sans-serif
}
SMALL {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #ffffff; FONT-STYLE: normal; FONT-FAMILY: arial,helvetica,sans-serif
}
SMALL.normal {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #3e9cdc; FONT-STYLE: normal; FONT-FAMILY: arial,helvetica,sans-serif
}
SMALL.gray {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #aaaaaa; FONT-STYLE: normal; FONT-FAMILY: arial,helvetica,sans-serif
}
SMALL.header {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #ffffff; FONT-STYLE: normal; FONT-FAMILY: arial,helvetica,sans-serif
}
LI {
	FONT-SIZE: 10pt; COLOR: #3e9cdc; FONT-FAMILY: arial,helvetica,sans-serif
}
H2 {
	COLOR: #ffffff; FONT-FAMILY: arial,helvetica,sans-serif
}
SPAN.header {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; COLOR: #ffffff; FONT-FAMILY: arial,helvetica,sans-serif; LETTER-SPACING: 3px
}
SPAN.header2 {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #ffffff; FONT-FAMILY: arial,helvetica,sans-serif; LETTER-SPACING: 2px
}
SPAN.header3 {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #ffffff; FONT-FAMILY: arial,helvetica,sans-serif; LETTER-SPACING: 2px
}
SPAN.header4 {
	FONT-WEIGHT: bold; FONT-SIZE: 11pt; COLOR: #ffffff; FONT-FAMILY: arial,helvetica,sans-serif
}
SPAN.header5 {
	FONT-WEIGHT: bold; FONT-SIZE: 13pt; COLOR: #ffffff; FONT-FAMILY: arial,helvetica,sans-serif; LETTER-SPACING: 2px
}
SPAN.colorRed {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #da0000; FONT-FAMILY: arial,helvetica,sans-serif
}
DIV.tooltip {
	BORDER-RIGHT: #c8b038 0px solid; BORDER-TOP: #c8b038 1px solid; LEFT: 0px; VISIBILITY: hidden; BORDER-LEFT: #c8b038 0px solid; WIDTH: 191px; BORDER-BOTTOM: #c8b038 1px solid; FONT-FAMILY: arial,helvetica,sans-serif; POSITION: absolute; BACKGROUND-COLOR: black
}
TD.tooltip {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #3e9cdc; FONT-STYLE: normal
}
IMG.border {
	BORDER-LEFT-COLOR: #29282d; BORDER-BOTTOM-COLOR: #29282d; BORDER-TOP-STYLE: solid; BORDER-TOP-COLOR: #29282d; BORDER-RIGHT-STYLE: solid; BORDER-LEFT-STYLE: solid; BORDER-RIGHT-COLOR: #29282d; BORDER-BOTTOM-STYLE: solid
}
A:link {
	FONT-WEIGHT: bold; COLOR: #c8b038; FONT-FAMILY: arial,helvetica,sans-serif
}
A:visited {
	FONT-WEIGHT: bold; COLOR: #aaaaaa; FONT-FAMILY: arial,helvetica,sans-serif
}
A:hover {
	FONT-WEIGHT: bold; COLOR: #ffffff; FONT-FAMILY: arial,helvetica,sans-serif
}
A:active {
	FONT-WEIGHT: bold; COLOR: #ffffff; FONT-FAMILY: arial,helvetica,sans-serif
}
A.header:link {
	PADDING-RIGHT: 4px; DISPLAY: block; PADDING-LEFT: 4px; FONT-WEIGHT: bold; PADDING-BOTTOM: 4px; COLOR: #d1d1d1; PADDING-TOP: 4px; FONT-FAMILY: arial,helvetica,sans-serif
}
A.header:visited {
	PADDING-RIGHT: 4px; DISPLAY: block; PADDING-LEFT: 4px; FONT-WEIGHT: bold; PADDING-BOTTOM: 4px; COLOR: #d1d1d1; PADDING-TOP: 4px; FONT-FAMILY: arial,helvetica,sans-serif
}
A.header:hover {
	PADDING-RIGHT: 4px; DISPLAY: block; PADDING-LEFT: 4px; FONT-WEIGHT: bold; PADDING-BOTTOM: 4px; COLOR: #ffffff; PADDING-TOP: 4px; FONT-FAMILY: arial,helvetica,sans-serif; BACKGROUND-COLOR: #336ebb
}
A.header:active {
	PADDING-RIGHT: 4px; DISPLAY: block; PADDING-LEFT: 4px; FONT-WEIGHT: bold; PADDING-BOTTOM: 4px; COLOR: #ffffff; PADDING-TOP: 4px; FONT-FAMILY: arial,helvetica,sans-serif
}
A.grayButton:link {
	PADDING-RIGHT: 4px; DISPLAY: block; PADDING-LEFT: 4px; FONT-WEIGHT: bold; PADDING-BOTTOM: 4px; COLOR: #d1d1d1; PADDING-TOP: 4px; FONT-FAMILY: arial,helvetica,sans-serif
}
A.grayButton:visited {
	PADDING-RIGHT: 4px; DISPLAY: block; PADDING-LEFT: 4px; FONT-WEIGHT: bold; PADDING-BOTTOM: 4px; COLOR: #d1d1d1; PADDING-TOP: 4px; FONT-FAMILY: arial,helvetica,sans-serif
}
A.grayButton:hover {
	PADDING-RIGHT: 4px; DISPLAY: block; PADDING-LEFT: 4px; FONT-WEIGHT: bold; PADDING-BOTTOM: 4px; COLOR: #ffffff; PADDING-TOP: 4px; FONT-FAMILY: arial,helvetica,sans-serif; BACKGROUND-COLOR: #4d4d4d
}
A.grayButton:active {
	PADDING-RIGHT: 4px; DISPLAY: block; PADDING-LEFT: 4px; FONT-WEIGHT: bold; PADDING-BOTTOM: 4px; COLOR: #ffffff; PADDING-TOP: 4px; FONT-FAMILY: arial,helvetica,sans-serif
}
A.tiny:link {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #c8b038; FONT-FAMILY: arial,helvetica,sans-serif
}
A.tiny:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #aaaaaa; FONT-FAMILY: arial,helvetica,sans-serif
}
A.tiny:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #ffffff; FONT-FAMILY: arial,helvetica,sans-serif
}
A.tiny:active {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #ffffff; FONT-FAMILY: arial,helvetica,sans-serif
}
A.tiny:link {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #c8b038; FONT-FAMILY: arial,helvetica,sans-serif
}
A.tiny:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #aaaaaa; FONT-FAMILY: arial,helvetica,sans-serif
}
A.tiny:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #ffffff; FONT-FAMILY: arial,helvetica,sans-serif
}
A.tiny:active {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #ffffff; FONT-FAMILY: arial,helvetica,sans-serif
}
A.bracket:link {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #cba300; FONT-FAMILY: arial,helvetica,sans-serif
}
A.bracket:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #cba300; FONT-FAMILY: arial,helvetica,sans-serif
}
A.bracket:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #ffffff; FONT-FAMILY: arial,helvetica,sans-serif
}
A.bracket:active {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #ffffff; FONT-FAMILY: arial,helvetica,sans-serif
}
TD.ladderTable {
	BORDER-RIGHT: #163f76 1px solid; BORDER-TOP: #163f76 1px solid; BORDER-LEFT: #163f76 1px solid; BORDER-BOTTOM: #163f76 1px solid
}
TD.ladderBase {
	BORDER-RIGHT: #163f76 1px solid; BORDER-TOP: #163f76 1px solid; BORDER-LEFT: #163f76 1px solid; BORDER-BOTTOM: #163f76 1px solid; BACKGROUND-COLOR: #0c0c0c
}
TD.tableHeader {
	BORDER-RIGHT: #508edf 1px solid; BORDER-TOP: #508edf 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 10pt; BORDER-LEFT: #081527 1px solid; COLOR: #ffffff; BORDER-BOTTOM: #081527 1px solid; BACKGROUND-COLOR: #153c6f
}
TD.blueButton {
	BORDER-RIGHT: #508edf 1px solid; BORDER-TOP: #508edf 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 10pt; BORDER-LEFT: #081527 1px solid; COLOR: #ffffff; BORDER-BOTTOM: #081527 1px solid; BACKGROUND-COLOR: #285b9e; TEXT-ALIGN: center
}
TD.grayButton {
	BORDER-RIGHT: #979797 1px solid; BORDER-TOP: #979797 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 10pt; BORDER-LEFT: #171717 1px solid; COLOR: #ffffff; BORDER-BOTTOM: #171717 1px solid; BACKGROUND-COLOR: #282828; TEXT-ALIGN: center
}
TD.tableRank {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #000000 1px solid; PADDING-LEFT: 4px; FONT-WEIGHT: bold; FONT-SIZE: 9pt; PADDING-BOTTOM: 4px; BORDER-LEFT: #000000 1px solid; COLOR: #ffffff; PADDING-TOP: 4px; BORDER-BOTTOM: #000000 1px solid; BACKGROUND-COLOR: #00002e; TEXT-ALIGN: center
}
TD.tableRankAlt {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #000000 1px solid; PADDING-LEFT: 4px; FONT-WEIGHT: bold; FONT-SIZE: 9pt; PADDING-BOTTOM: 4px; BORDER-LEFT: #000000 1px solid; COLOR: #ffffff; PADDING-TOP: 4px; BORDER-BOTTOM: #000000 1px solid; BACKGROUND-COLOR: #00002e; TEXT-ALIGN: center
}
TD.tableData {
	BORDER-RIGHT: #000000 0px solid; PADDING-RIGHT: 4px; BORDER-TOP: #000000 0px solid; PADDING-LEFT: 4px; FONT-SIZE: 9pt; PADDING-BOTTOM: 4px; BORDER-LEFT: #000000 0px solid; PADDING-TOP: 4px; BORDER-BOTTOM: #000000 0px solid; TEXT-ALIGN: center
}
TD.tableDataAlt {
	BORDER-RIGHT: #0d0d0d 0px solid; PADDING-RIGHT: 4px; BORDER-TOP: #0d0d0d 0px solid; PADDING-LEFT: 4px; FONT-SIZE: 9pt; PADDING-BOTTOM: 4px; BORDER-LEFT: #0d0d0d 0px solid; PADDING-TOP: 4px; BORDER-BOTTOM: #0d0d0d 0px solid; TEXT-ALIGN: center
}
TD.ladderTableGray {
	BORDER-RIGHT: #464646 1px solid; BORDER-TOP: #464646 1px solid; BORDER-LEFT: #464646 1px solid; BORDER-BOTTOM: #464646 1px solid
}
TD.tableHeaderGray {
	BORDER-RIGHT: #979797 1px solid; BORDER-TOP: #979797 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 10pt; BORDER-LEFT: #171717 1px solid; COLOR: #ffffff; BORDER-BOTTOM: #171717 1px solid; BACKGROUND-COLOR: #424242
}
TD.tableFillerGray {
	BORDER-RIGHT: #171717 1px solid; BORDER-TOP: #171717 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 10pt; BACKGROUND-IMAGE: url(/war3/images/crossshade-bg.gif); BORDER-LEFT: #979797 1px solid; COLOR: #ffffff; BORDER-BOTTOM: #979797 1px solid
}
TD.tableRankGray {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 9pt; BORDER-LEFT: #000000 1px solid; COLOR: #ffffff; BORDER-BOTTOM: #000000 1px solid; BACKGROUND-COLOR: #171717
}
TD.tableRankAltGray {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 9pt; BORDER-LEFT: #000000 1px solid; COLOR: #ffffff; BORDER-BOTTOM: #000000 1px solid; BACKGROUND-COLOR: #00002e
}
TD.tableDataGray {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #000000 1px solid; BORDER-BOTTOM: #000000 1px solid; BACKGROUND-COLOR: #080908
}
TABLE.profile {
	BORDER-RIGHT: #313131 1px solid; BORDER-TOP: #313131 1px solid; BORDER-LEFT: #313131 1px solid; BORDER-BOTTOM: #313131 1px solid; BACKGROUND-COLOR: #121212
}
IMG.profile {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; BORDER-LEFT: #313131 1px solid; BORDER-BOTTOM: #313131 1px solid
}
INPUT.searchBox {
	BORDER-RIGHT: #3a3a3a 1px solid; BORDER-TOP: #3a3a3a 1px solid; BORDER-LEFT: #979797 1px solid; COLOR: #d1d1d1; BORDER-BOTTOM: #979797 1px solid; BACKGROUND-COLOR: #000000
}
TD.menuHeader {
	BORDER-RIGHT: #5d5d5d 1px solid; BORDER-TOP: #5d5d5d 1px solid; BORDER-LEFT: #1e1d1c 1px solid; COLOR: #cba300; BORDER-BOTTOM: #1e1d1c 1px solid; FONT-FAMILY: arial, helvetica, sans-serif; BACKGROUND-COLOR: #2e2d2b
}
TD.headerOutline {
	BORDER-RIGHT: #271a13 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #271a13 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; BORDER-LEFT: #271a13 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #271a13 1px solid
}
